@inherits LayoutComponentBase

<Layout>
    <Header Class="header">
            <img class="logo" src="images/logo.png" />
    </Header>
    <Layout>
        <Sider Collapsible Theme="SiderTheme.Light" Width="250">
        <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1" RouterLink="/">
                <Icon Type="@IconType.Outline.BarChart" />
                <span>Tổng quan</span>
            </MenuItem>
            <MenuItem Key="2"  RouterMatch="NavLinkMatch.All">
                <Icon Type="@IconType.Outline.Calendar" />
                <span>Đơn hàng</span>
            </MenuItem>
            <MenuItem Key="3" RouterLink="/management/product">
                <Icon Type="@IconType.Outline.Appstore" />
                <span>Sản phẩm</span>
            </MenuItem>
            <MenuItem Key="4"  RouterMatch="NavLinkMatch.All">
                        <Icon Type="@IconType.Outline.User" />
                        <span>Người dùng</span>
            </MenuItem>
            <MenuItem Key="5" RouterLink="/management/category">
                <Icon Type="@IconType.Outline.FieldTime" />
                <span>Danh mục</span>
            </MenuItem>
            <MenuItem Key="6" RouterLink="/management/brand">
                <Icon Type="@IconType.Outline.FieldTime" />
                <span>Thương hiệu</span>
            </MenuItem>
            <MenuItem Key="7" >
                <Icon Type="@IconType.Outline.Barcode" />
                <span>Mã giảm giá</span>
            </MenuItem>
            @{
                RenderFragment sub1Title =
                    @<span>
                        <Icon Type="@IconType.Outline.Control" />
                        <span>Thiết lập</span>
                    </span>;
            }
            <SubMenu Key="sub1" TitleTemplate=sub1Title>
                <MenuItem Key="8">
                    <Icon Type="@IconType.Outline.Sliders" />
                    <span>Quảng cáo</span>
                </MenuItem>
                    <MenuItem Key="9">
                    <Icon Type="@IconType.Outline.Contacts" />
                    <span>Thông tin liên hệ</span>
                </MenuItem>
                <MenuItem Key="10">
                    <Icon Type="@IconType.Outline.Safety" />
                    <span>Phân quyền</span>
                </MenuItem>
                <MenuItem Key="11" RouterLink="swagger">
                    <Icon Type="@IconType.Outline.Safety" />
                    <span>Swagger</span>
                </MenuItem>
            </SubMenu>

        </Menu>
    </Sider>
        <Layout>
            <Content Class="site-layout-background" Style=" padding: 16px; margin: 0; min-height: 100vh;">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>

<style>
    .logo {
        width: 120px;
        height: 48px;
        margin: 4px 32px 0px -48px;
        float: left;
    }

    .site-layout-background {
        background: #fff;
    }
</style>




@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@
